@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  progress {
    -webkit-appearance: none;
  }

  ::-webkit-progress-bar {
    background: hsl(229, 57%, 11%);
    border-radius: 100px;
    padding: 2px;
  }

  ::-webkit-progress-value {
    background: radial-gradient(4px at 97%, white, white 4px, transparent),
      linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 100px;
  }

  .arrow-bottom:after {
    content: " ";
    position: absolute;
    right: 0px;
    bottom: -15px;
    border-top: 15px solid #fff;
    border-right: 0px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: none;
  }
}
